* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f8f9fb;
  color: #333;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  display: block;
  border-radius: 12px;
}
header {
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  font-weight: 600;
  font-size: 1.4rem;
}
nav a {
  margin-left: 1.5rem;
  font-weight: 500;
  transition: 0.3s;
}
nav a:hover {
  color: #c9a34e;
}
.hero {
  height: 90vh;
  background: url("https://t3.ftcdn.net/jpg/03/54/13/02/240_F_354130260_U6589vIqp7vfgWsoJKIY5mzJoq4ka6Cv.jpg")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.hero-content {
  position: relative;
  z-index: 1;
}
.hero h1 {
  font-size: 3rem;
}
.hero p {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.btn {
  display: inline-block;
  background: #c9a34e;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  transition: 0.3s;
}
.btn:hover {
  background: #b8923e;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 4rem 0;
}
.section-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.card {
  text-align: center;
  background: #fff;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  position: relative;
}
.card:hover {
  transform: translateY(-5px);
}
.price {
  text-align: center;
  color: #725109;
  font-weight: 600;
  margin: 0.5rem 0;
  
}
form {
  max-width: 500px;
  margin: auto;
}
input,
textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 3rem 2rem;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }
}

.span {
  color: skyblue;
  width: 50px;

  font-style: initial;
  font-size: 13px;
  text-decoration: line-through;
}
.og {
  color: skyblue;

  font-style: initial;
  font-size: 13px;
}
